name: Update devs ui image
on:
  workflow_dispatch: {}
  push:
    branches:
      - develop
    paths:
      - '!*'
      - 'src/**'
      - 'package.json'
      - 'cypress.json'
      - 'cypress/**'
      - 'Dockerfile'
      - 'config-overrides.js'
      - '.github/workflows/dev-image-update.yaml'
env:
  gcr_google_project: 'broad-jade-dev'
  google_sdk_version: '290.0.1'
  DEV_PROJECT: broad-jade-dev
  # This must be defined for the bash redirection
  GOOGLE_APPLICATION_CREDENTIALS: 'jade-dev-account.json'
  # This must be defined for the bash redirection
  GOOGLE_SA_CERT: 'jade-dev-account.pem'

jobs:
  update_image:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    if: "!contains( github.event.sender.login, 'broadbot')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: develop
          token: ${{ secrets.BROADBOT_TOKEN }}
      - name: 'Checkout datarepo-helm-definitions repo'
        uses: actions/checkout@v3
        with:
          repository: 'broadinstitute/datarepo-helm-definitions'
          token: ${{ secrets.BROADBOT_TOKEN }}
          path: datarepo-helm-definitions
      - name: 'Bump the tag to a new version'
        uses: broadinstitute/datarepo-actions/actions/main@0.67.0
        with:
          actions_subcommand: 'bumper'
          role_id: ${{ secrets.ROLE_ID }}
          secret_id: ${{ secrets.SECRET_ID }}
          version_file_path: package.json
          version_variable_name: version
          GITHUB_TOKEN: ${{ secrets.BROADBOT_TOKEN }}
      - name: 'Get gcp credentials'
        uses: broadinstitute/datarepo-actions/actions/main@0.67.0
        with:
          actions_subcommand: 'skip'
          role_id: ${{ secrets.ROLE_ID }}
          secret_id: ${{ secrets.SECRET_ID }}
      - name: 'Pull down new tags'
        run: git fetch --all --tags
      - name: 'Get Previous tag'
        id: uiprevioustag
        uses: 'broadinstitute/github-action-get-previous-tag@master'
        env:
          GITHUB_TOKEN: '${{ secrets.BROADBOT_TOKEN }}'
      - name: Build nmp build for new ui container
        run: |
          git pull
          GCR_TAG=$(git rev-parse --short HEAD)
          echo "GCR_TAG=$(echo ${GCR_TAG})" >> $GITHUB_ENV
      # Build the Docker image
      - name: Build docker container
        env:
          DISABLE_ESLINT_PLUGIN: true
        run: |
          rm -rf jade-dev-account.pem
          docker build -t gcr.io/${{ env.gcr_google_project }}/jade-data-repo-ui:${GCR_TAG} --build-arg CACHEBUST=$(date +%s) .
      # Push the Docker image to Google Container Registry
      - name: Publish and tag new docker container to GCR
        run: |
          gcloud auth activate-service-account --key-file jade-dev-account.json
          gcloud auth configure-docker --quiet
          docker push gcr.io/${{ env.gcr_google_project }}/jade-data-repo-ui:${GCR_TAG}
          gcloud container images \
          add-tag \
          gcr.io/${{ env.gcr_google_project }}/jade-data-repo-ui:"${GCR_TAG}" \
          gcr.io/${{ env.gcr_google_project }}/jade-data-repo-ui:"${{ steps.uiprevioustag.outputs.tag }}" --quiet
      - name: 'Check and edit Helm definition for dev'
        uses: broadinstitute/datarepo-actions/actions/main@0.67.0
        with:
          actions_subcommand: 'deploytagupdate'
          helm_env_prefix: dev
          helm_imagetag_update: ui
    helm_tag_bump:
      needs: update_image
      uses: ./.github/workflows/helmtagbump.yaml
      secrets: inherit
    action_notify:
      runs-on: ubuntu-latest
      # if: always()
      needs:
        - update_image
        - helm_tag_bump
      steps:
      - name: Slack job status
        uses: broadinstitute/action-slack@v2
        with:
          status: ${{ job.status }}
          author_name: Integration Test
        env:
          GITHUB_TOKEN: ${{ secrets.BROADBOT_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
